@import '../base/mapas';
@import '../base/extends';


.burgerExtendido{

    padding-top: 5rem;
    padding-bottom: 5rem;
    height: auto;
    // background-color: whitesmoke;
    background-image: url(/Images/bgtest2.png);
    background-repeat:no-repeat;
    background-size: cover;
    object-fit:cover;
    @extend %fuenteTitulos;
    
  
    
    
    .contenedorburgerExtendido {
        .conTitleBurg {
            color: whitesmoke;
            text-shadow: 0px 2px 50px black;
            padding-bottom: 2rem;
            font-style: italic;

            .h1CatalogoBurgers{
                font-size: 4rem;
                color: whitesmoke;
                @extend %fuenteTitulos;

            }
        }
        
        .imgburgerExtendido{
            width: 100%;
            
            

            .containerburgas {
                position: relative;

                &:hover .overlay {
                opacity: 1;
                
                }
            
                img {
                    width: 100%;
                    height: 100%;
                
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: .5s ease;
                    background-color: $amarillo-marca2;

                    .texto {
                        color: white;
                        font-size: 1.4rem;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        text-align: center;

                      }
                }
            }
            
            
        }
        .botonVolverHome {
            display: flex;
            padding-top: 3rem;
            justify-content: center;

        }
        
        
    }
    

}