@import '../base/mixins';

.contenedorWhatsapp {
    position: fixed;
    bottom: 0;
    right: 0;
    

    a{
        img {
            width: 6rem;
            -webkit-filter: drop-shadow(0px 0px 0px #222 );
            filter: drop-shadow(0px 0px 4px rgb(122, 122, 122));
            
            
        }   
    }
    
}